In [14]:
import pandas as pd

s = pd.Series(["reden","blue","red","green", "blue","red","green"])
print(s)

0    reden
1     blue
2      red
3    green
4     blue
5      red
6    green
dtype: object

In [15]:
print(s.str.endswith('en'))

0     True
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [24]:
x=[4,9]
y=[16,25]
df = pd.DataFrame([x,y])
df.head()

    0   1
0   4   9
1  16  25

In [25]:
import numpy as np
print(df.apply(np.sqrt))

     0    1
0  2.0  3.0
1  4.0  5.0

In [27]:
w = 'python'
w_iterator = iter(w)
next(w_iterator)

'p'

In [30]:
next(w_iterator)

'h'

In [31]:
def add_many(*args):
    s=0
    for n in args:
        s += n
    print(s)
add_many(100,50,3)

153

In [32]:
import pandas as pd
print(df.stars.transform(lambda x:x/1000))

123

In [ ]:
q1 = df['age'].quantile(0.25)
q3 = df['age'].quantile(0.75)
iqr = q3-q1

In [4]:
import numpy as np

samples = np.random.normal(0,10,10000)
print(samples)

[  8.20177058 -14.63919311   2.59196231 ... -10.03130588 -10.49526801
 -10.28543101]

In [5]:
seed = 121120
np.random.seed(seed)
print(np.random.poisson(5,50))

[ 2  7  4  7  3  8  5  3 10  6  6  7  5  6  9  2  6  2  5  5  7  6  5  1
  8  3  6  5  2  4  3  3  3  5  9  4  8  4  4  5  3 10  4  7  3  3  7  1
  3  5]

In [ ]:
from scipy import stats

results = stats.ttest_ind(males, females)
print("statistic: {}".format(results[0]))
print("p-value: {}".format(results[1]))