In [14]:
import pandas as pd

s = pd.Series(["reden","blue","red","green", "blue","red","green"])
print(s)

0    reden
1     blue
2      red
3    green
4     blue
5      red
6    green
dtype: object

In [15]:
print(s.str.endswith('en'))

0     True
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [24]:
x=[4,9]
y=[16,25]
df = pd.DataFrame([x,y])
df.head()

    0   1
0   4   9
1  16  25

In [25]:
import numpy as np
print(df.apply(np.sqrt))

     0    1
0  2.0  3.0
1  4.0  5.0

In [27]:
w = 'python'
w_iterator = iter(w)
next(w_iterator)

'p'

In [30]:
next(w_iterator)

'h'

In [31]:
def add_many(*args):
    s=0
    for n in args:
        s += n
    print(s)
add_many(100,50,3)

153

In [32]:
import pandas as pd
print(df.stars.transform(lambda x:x/1000))

123

In [ ]:
q1 = df['age'].quantile(0.25)
q3 = df['age'].quantile(0.75)
iqr = q3-q1

In [4]:
import numpy as np

samples = np.random.normal(0,10,10000)
print(samples)

[  8.20177058 -14.63919311   2.59196231 ... -10.03130588 -10.49526801
 -10.28543101]

In [5]:
seed = 121120
np.random.seed(seed)
print(np.random.poisson(5,50))

[ 2  7  4  7  3  8  5  3 10  6  6  7  5  6  9  2  6  2  5  5  7  6  5  1
  8  3  6  5  2  4  3  3  3  5  9  4  8  4  4  5  3 10  4  7  3  3  7  1
  3  5]

In [ ]:
from scipy import stats

results = stats.ttest_ind(males, females)
print("statistic: {}".format(results[0]))
print("p-value: {}".format(results[1]))

In [2]:
[i for i in range(5) if i>2]

[3, 4]

In [3]:
[i for i in range(7) if i>5]

[6]

In [6]:
[i for i in range(8) if i%2==0]

[0, 2, 4, 6]

In [7]:
[i for i in range(1000) if (i%7==0 and i%2==0)]

[0,
 14,
 28,
 42,
 56,
 70,
 84,
 98,
 112,
 126,
 140,
 154,
 168,
 182,
 196,
 210,
 224,
 238,
 252,
 266,
 280,
 294,
 308,
 322,
 336,
 350,
 364,
 378,
 392,
 406,
 420,
 434,
 448,
 462,
 476,
 490,
 504,
 518,
 532,
 546,
 560,
 574,
 588,
 602,
 616,
 630,
 644,
 658,
 672,
 686,
 700,
 714,
 728,
 742,
 756,
 770,
 784,
 798,
 812,
 826,
 840,
 854,
 868,
 882,
 896,
 910,
 924,
 938,
 952,
 966,
 980,
 994]

In [9]:
class Dog:
    def woof(self):
        return 'woof!'
    
t = Dog()
t.woof()

'woof!'

In [11]:
class Cat:
    def meow(self):
        return 'meow!'
c= Cat()
c.meow()

'meow!'

In [12]:
s = "animal-horse"
s.split("-")

['animal', 'horse']

In [14]:
f = 'john.doe@gmail.com'
f.split("@")

['john.doe', 'gmail.com']

In [15]:
book = {
    'title':'The Giver',
    'author':'Lois Lowry',
    'rating':4.13
}
book['rating'] = 4.6
book['rating']

4.6

In [16]:
book['author'] = 'Ernest Hemingway'
book['author']

'Ernest Hemingway'

In [19]:
letters = ['a','b','c']
for k, x in enumerate(letters):
    print(k,": ", x)

0 :  a
1 :  b
2 :  c

In [20]:
d = {
    'apple':1,
    'banana':2,
    'coconut':3
}
d['durian'] = 4
d

{'apple': 1, 'banana': 2, 'coconut': 3, 'durian': 4}