In [ ]:
import datetime as dt
today_date = dt.date.today()
user_signups[user_signups['subscription_date'] > today_date]

In [ ]:
import pandas as pd
#output movies with rating > 5
movies[movies['avg_rating'] > 5]
#drop values using filtering
movies = movies[movies['avg_rating'] <= 5]
#drop values using .drop()
movies.drop(movies[movies['avg_rating'] > 5].index, inplace=True)
#assert results
assert movies['avg_rating'].max <= 5

In [ ]:
#convert avg_rating >5 to 5
movies.loc[movies['avg_rating'] > 5, 'avg_rating'] = 5

In [ ]:
#convert to date
user_signups['subscription_date'] = pd.to_datetime(user_signups['subscription_date']).dt.date

In [ ]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27,'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

In [ ]:
# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

In [ ]:
#removing a dollar sign from the column content
sales['revenue'] = sales['revenue'].str.strip('$')
sales['revenue'] = sales['revenue'].astype('int')

#verufy theat revenue is now an integer
assert sales['revenue'].dtype == 'int'

In [1]:
assert 1+1 == 2

In [ ]:
#categorizing the weather
ri.stop_duration.unique()
mapping = {'0-15 Min' : 'short',
           '16-30 Min' : 'medium',
           '30+ Min' : 'long'}
ri['stop_length'] = ri.stop_duration.map(mapping)
ri.stop_length.dtype

In [ ]:
ri.stop_length.memory_usage(deep=True)

In [ ]:
#get duplicates accross all columns
duplicates = height_weight.duplicated()

#get duplicate  rows
height_weight[duplicates]

In [ ]:
#how to find duplicate rows?
#subset: list of columns to checjk for duplication
#keep: whether to keep first, last or all(False) duplicat values
#column names to check for duplication
column_names = ['first_name',"last_name","address"]
duplicates = height_weight.duplicated(subset=column_names, keep=False)
height_weight[duplicates].sort_values(by='first_name')

In [ ]:
#how to treat duplicate values?
#.drop_duplicated(same args as above)
#.groupby and .agg to treat minor differences duplication

In [ ]:
#group by column names and produce statistical summaries
column_names = ['first_name', 'last_name', 'address']
summaries = {'height':'max', 'weight':'mean'}
height_weight = height_weight.groupby(by = column_names).agg(summaries).reset_index()

#make sure aggregation is done
duplicats = height_weight.duplicated(subset = column_names, keep = False)
height_weight[duplicates].sort_values(by='first_name')

In [ ]:
#finding inconsitent categories
inconsitent_cat = set(study_data['blood_type']).difference(categories['blood_type'])
#dropping inconsistent categories
inconsistent_rows = study_data['blood_type'].isin(inconsistent_cat)
inconsistent_data = study_data[inconsistent_rows]

#drop inconsistent categories and get consistent data only
consistent_data = study_data[~inconsistent_rows]

In [ ]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

In [ ]:
marriage_stat['marriage_status'] = mariage_stat["marriage_status"].str.upper()
marriage_stat["marriage_status"].value_counts()

#strip all spaces
demo = demo['marriage_status'].str.strip()
demo['marriage_status'].value_counts()

In [ ]:
#collapsing data into categories
#using qcut()
group_names = ['0-200K', "200-500K",'500K+']
demo['income_group'] = pd.qcut(demo['household_income'], q = 3,labels=group_names)
#print income_group column
demo[["income_group","household_income"]]

In [ ]:
#using cut()
ranges = [0,200000,500000,np.inf]
group_names = ['0-200K', "200-500K",'500K+']
#create income_group columns
demo['income_group'] = pd.cut(demo['household_income'], bins=ranges,labels=group_names)
demo[["income_group","household_income"]]

In [ ]:
#map categories to fewer ones
mapping = {"Microsoft":'DesktopOS',"MacOS":'DesktopOS',"Linuz":'DesktopOS','IOS':"MobileOS",'IOS':"MobileOS"}
devices['operating_system'] = devices['operating_system'].replace(mapping)
devices['operating_system'].unique()

In [ ]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

In [ ]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', "medium", "long"]

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

In [ ]:
phones["phon_num"] = phones["phon_num"].str.replace("+","00")
phones["phon_num"] = phones["phon_num"].str.replace("-","")

#replace phone numbers with lower than 10 digits to NaN
digits = phones["phon_num"].str.len()
phones.loc[digits<10,"phone_num"] == np.nan

In [ ]:
sanity_check = phones['phone_num'].str.len()
assert sanity_check.min() >=10
assert phones["phone_num"].str.contains("+|-").any() == False

In [ ]:
# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey["survey_response"].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

In [ ]:
#changing datatype fro object to category
cats = pd.CategoricalDtype(['short','medium','long'], ordered=True)
ri['stop_length'] = ri.stop_length.astype(cats)

In [ ]:
#using ordered categories
ri[ri.stp_length > 'short'].shape

In [ ]:
# Copy 'WT01' through 'WT22' to a new DataFrame
WT = weather.loc[:,'WT01':'WT22']

# Calculate the sum of each row in 'WT'
weather['bad_conditions'] = WT.sum(axis='columns')

# Replace missing values in 'bad_conditions' with '0'
weather['bad_conditions'] = weather.bad_conditions.fillna(0).astype('int')

# Create a histogram to visualize 'bad_conditions'
weather['bad_conditions'].plot(kind='hist')

# Display the plot
plt.show()

In [ ]:
# Count the unique values in 'bad_conditions' and sort the index
print(weather.bad_conditions.value_counts().sort_index())

# Create a dictionary that maps integers to strings
mapping = {0:'good', 1:'bad', 2:'bad', 3:'bad', 4:'bad',5:'worse',6:'worse',7:'worse',8:'worse',9:'worse'}

# Convert the 'bad_conditions' integers to strings using the 'mapping'
weather['rating'] = weather.bad_conditions.map(mapping)

# Count the unique values in 'rating'
print(weather['rating'].value_counts())

In [ ]:
# Specify the logical order of the weather ratings
cats = pd.CategoricalDtype(['good', 'bad','worse'], ordered=True)

# Change the data type of 'rating' to category
weather['rating'] = weather.rating.astype(cats)

# Examine the head of 'rating'
print(weather['rating'].head())

In [ ]:
temp_fah = temperatures.loc[temperatures['Temperature'] > 40, 'Temperature']
temp_cels = (temp_fah-32)*(5/9)
temperatures.loc[temperatures['Temperature'] > 40, 'Temperature'] = temp_cels

In [ ]:
#treating date data
#converts to date time but wont work if weird formats occur!
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'])

#will !
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'],
                                      #attempt to infer formst of each date
                                      infer_date_format=True,
                                      #Return NA for rows where conversion failed
                                      errors='coerce')

In [ ]:
#convert to date time format of your choice
birthdays['Birthday'] = birthdays['Birthday'].dt.strftime("%d-%m-%Y")
birthdays.head()

In [ ]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

In [ ]:
# Print the header of account_opened
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce')

In [ ]:
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking['acct_year'])

In [5]:
from thefuzz import fuzz

In [6]:
#compare reeding versus reading
fuzz.WRatio('Reeding','Reading')

86

In [10]:
#comparison with arrays
from thefuzz import process

#define the string and array of possible matches
string = 'Houston Rockets vs Los Angeles Lakers'
choices = pd.Series(['Rockets vs Lakers', 'Lakers vs Rockets', 'Houston vs Los Angeles','Heat vs Bulls'])

process.extract(string, choices, limit = 2)

[('Rockets vs Lakers', 86, 0), ('Lakers vs Rockets', 86, 1)]

In [8]:
print(survey['state'].unique())

In [ ]:
#collapsing all the state
for state in categories['state']:
    #find potential matches in states with typoes
    matches = process.extract(state, survey['state'], limit = survey.shape[0])
    #for each potential match match
    for potential_match in matches:
        #if high similarity score
        if potential_match[1] >= 80:
            #replace typo with correct category
            survey.loc[survey['state'] == potential_match[0], 'state'] = state

In [ ]:
# Iterate through categories
for cuisine in categories:  
  # Create a list of matches, comparing cuisine with the cuisine_type column
  matches = process.extract(cuisine, restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

  # Iterate through the list of matches
  for match in matches:
     # Check whether the similarity score is greater than or equal to 80
    if match[1] >= 80:
      # If it is, select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
      restaurants.loc[restaurants['cuisine_type'] == match[0]] = cuisine
      
# Inspect the final result
print(restaurants['cuisine_type'].unique())

In [ ]:
import recordlinkage

#create indexing object
indexer = recordlinkage.Index()

#generate pair blocked on state
indexer.block('state')
pairs = indexer.index(census_A,census_B)

#generate a compare object
compare_cl = recordlinkage.Compare()

In [ ]:
# Find exact matches for pairs of date_of_birth and state
compare_cl.exact('date_of_birth','date_of_birth',label='date_of_birth')
compare_cl.exact('state','state',label='state')

# Find similar matches for pairs of surname and address_1 using string similarity
compare_cl.string('surname', 'surname', threshold=0.85,label='surname')
compare_cl.string('address_1', 'address_1', threshold=0.85,label='address_1')

find matches
potential_matches = compare_cl.compute(pairs, census_A, census_B)

In [ ]:
# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, cuisine_types - 
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label='cuisine_type')

# Find similar matches of rest_name
comp_cl.string('rest_name', 'rest_name', label='name', threshold = 0.8) 

# Get potential matches and print
potential_matches = comp_cl.compute(pairs, restaurants, restaurants_new)
print(potential_matches)

matches = potential_matches[potential_matches.sum(axis=1) >= 3]
matches.index

In [ ]:
#get indices  from census_B only
duplicate_rows = matches.index.get_level_values(1)
print(census_B_index)

#finding duplicates in census_B
census_B_duplicates = census_B[census_B.index.isin(duplicate_rows)]

#finding new rows in census_B
census_B_new = census_B[~census_B.index.isin(duplicate_rows)]

#link the DataFrames!
full_census = census_A.append(census_B_new)

### UNIFORMITY

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x="Date", y='Temperature', data= temperatures)
plt.title('Temperature in Celsius March 2019-NYC')
plt.xlabel('Dates')
plt.ylabel('Temperature in Celsius')
plt.show()

In [ ]:
#isolate outlying data
temp_fah = temp.loc[temp['Temperature']>40,'Temperature']
temp_cels = (temp_fah-32)*(5/9)
temp.loc[temp['Temperature']>40,'Temperature'] = temp_cels

#assert conversion is correct
assert temp['Temperature'].max() < 40

## CROSS FIELD VALIDATION

In [ ]:
sum_classes = flights[['economy_class','business_class', 'first_class']].sum(axis = 1)
passenger_equ = sum_classes == flights['total_passengers']
#find and filter out rows with inconsistent passenger totals
inconsistent_pass = flights[~passenger_equ]
consistent_pass = flights[passenger_equ]

In [ ]:
users['Birthday'] = pd.to_datetime(users['Birthday'])
today = dt.date.today()
age_manual = today.year - users['Birthday'].dt.year

#find instances where ages match
age_equ = age_manual == users['Age']

inconsistent_age = users[~age_equ]
consistent_age = users[age_equ]

In [ ]:
# Store fund columns to sum against
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']

# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis = 1) == banking['inv_amount']

# Store consistent and inconsistent data
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ]

# Store consistent and inconsistent data
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

In [ ]:
# Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking['birth_date'].dt.year

# Find rows where age column == ages_manual
age_equ = ages_manual == banking['age']

# Store consistent and inconsistent data
consistent_ages = banking[age_equ]
inconsistent_ages = banking[~age_equ]

# Store consistent and inconsistent data
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])

In [ ]:
#missing values
import missingno as msno
import matplotlib.pyplot as plt
#visualize missingness\
msno.matrix(airquality)
plt.show()

In [ ]:
#isolate missing and complete values aside
missing = airquality[airquality['CO2'].isna()]
complete = airquality[~airquality['CO2'].isna()]

#sorted airquality
sorted_airq = airquality.sort_values(by='Tempartaure')
msno.matrix(sorted_airq);plt.show()

In [ ]:
#drop missing values
airq_dropped = airquality.dropna(subset=['CO2'])

#replacing with statistical measures
co2_mean = airquality['CO2'].mean()
airq_imputed = airquality.fillna({'CO2':co2_mean})

In [ ]:
import missingno as msno
diabetes = pd.read_csv('pima-indians-diaabetes-data.csv')
msno.heatmap(diabetes)

In [ ]:
#missingness dendrogram
msno.dendrogram(diabetes)