In [ ]:
import datetime as dt
today_date = dt.date.today()
user_signups[user_signups['subscription_date'] > today_date]

In [ ]:
import pandas as pd
#output movies with rating > 5
movies[movies['avg_rating'] > 5]
#drop values using filtering
movies = movies[movies['avg_rating'] <= 5]
#drop values using .drop()
movies.drop(movies[movies['avg_rating'] > 5].index, inplace=True)
#assert results
assert movies['avg_rating'].max <= 5

In [ ]:
#convert avg_rating >5 to 5
movies.loc[movies['avg_rating'] > 5, 'avg_rating'] = 5

In [ ]:
#convert to date
user_signups['subscription_date'] = pd.to_datetime(user_signups['subscription_date']).dt.date

In [ ]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27,'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

In [ ]:
# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

In [ ]:
#removing a dollar sign from the column content
sales['revenue'] = sales['revenue'].str.strip('$')
sales['revenue'] = sales['revenue'].astype('int')

#verufy theat revenue is now an integer
assert sales['revenue'].dtype == 'int'

In [1]:
assert 1+1 == 2

In [ ]:
#categorizing the weather
ri.stop_duration.unique()
mapping = {'0-15 Min' : 'short',
           '16-30 Min' : 'medium',
           '30+ Min' : 'long'}
ri['stop_length'] = ri.stop_duration.map(mapping)
ri.stop_length.dtype

In [ ]:
ri.stop_length.memory_usage(deep=True)

In [ ]:
#changing datatype fro object to category
cats = pd.CategoricalDtype(['short','medium','long'], ordered=True)
ri['stop_length'] = ri.stop_length.astype(cats)

In [ ]:
#using ordered categories
ri[ri.stp_length > 'short'].shape

In [ ]:
# Copy 'WT01' through 'WT22' to a new DataFrame
WT = weather.loc[:,'WT01':'WT22']

# Calculate the sum of each row in 'WT'
weather['bad_conditions'] = WT.sum(axis='columns')

# Replace missing values in 'bad_conditions' with '0'
weather['bad_conditions'] = weather.bad_conditions.fillna(0).astype('int')

# Create a histogram to visualize 'bad_conditions'
weather['bad_conditions'].plot(kind='hist')

# Display the plot
plt.show()

In [ ]:
# Count the unique values in 'bad_conditions' and sort the index
print(weather.bad_conditions.value_counts().sort_index())

# Create a dictionary that maps integers to strings
mapping = {0:'good', 1:'bad', 2:'bad', 3:'bad', 4:'bad',5:'worse',6:'worse',7:'worse',8:'worse',9:'worse'}

# Convert the 'bad_conditions' integers to strings using the 'mapping'
weather['rating'] = weather.bad_conditions.map(mapping)

# Count the unique values in 'rating'
print(weather['rating'].value_counts())

In [ ]:
# Specify the logical order of the weather ratings
cats = pd.CategoricalDtype(['good', 'bad','worse'], ordered=True)

# Change the data type of 'rating' to category
weather['rating'] = weather.rating.astype(cats)

# Examine the head of 'rating'
print(weather['rating'].head())

In [ ]:
temp_fah = temperatures.loc[temperatures['Temperature'] > 40, 'Temperature']
temp_cels = (temp_fah-32)*(5/9)
temperatures.loc[temperatures['Temperature'] > 40, 'Temperature'] = temp_cels

In [ ]:
#treating date data
#converts to date time but wont work if weird formats occur!
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'])

#will !
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'],
                                      #attempt to infer formst of each date
                                      infer_date_format=True,
                                      #Return NA for rows where conversion failed
                                      errors='coerce')

In [ ]:
#convert to date time format of your choice
birthdays['Birthday'] = birthdays['Birthday'].dt.strftime("%d-%m-%Y")
birthdays.head()

In [ ]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

In [ ]:
# Print the header of account_opened
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce')

In [ ]:
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking['acct_year'])

In [5]:
from thefuzz import fuzz

In [6]:
#compare reeding versus reading
fuzz.WRatio('Reeding','Reading')

86

In [10]:
#comparison with arrays
from thefuzz import process

#define the string and array of possible matches
string = 'Houston Rockets vs Los Angeles Lakers'
choices = pd.Series(['Rockets vs Lakers', 'Lakers vs Rockets', 'Houston vs Los Angeles','Heat vs Bulls'])

process.extract(string, choices, limit = 2)

[('Rockets vs Lakers', 86, 0), ('Lakers vs Rockets', 86, 1)]

In [8]:
print(survey['state'].unique())

In [ ]:
#collapsing all the state
for state in categories['state']:
    #find potential matches in states with typoes
    matches = process.extract(state, survey['state'], limit = survey.shape[0])
    #for each potential match match
    for potential_match in matches:
        #if high similarity score
        if potential_match[1] >= 80:
            #replace typo with correct category
            survey.loc[survey['state'] == potential_match[0], 'state'] = state