In [1]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden','Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen','Sandeep'])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [1]:
drinks = ['beer', 'gin', "vodka", "brandy", "scotch"]
drinks.extend(["water kefir", "kombucha"])
print(drinks)

['beer', 'gin', 'vodka', 'brandy', 'scotch', 'water kefir', 'kombucha']

In [2]:
pos = drinks.index('kombucha')
drinks.pop(pos)
print(drinks)

['beer', 'gin', 'vodka', 'brandy', 'scotch', 'water kefir']

In [ ]:
# Create the empty list: baby_names
baby_names = []

# Loop over records 
for row in records:
    # Add the name to the list
    baby_names.append(row[3])
    
# Sort the names in alphabetical order
for name in sorted(baby_names):
    # Print each name
    print(name)

In [ ]:
# Pair up the girl and boy names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for idx, pair in enumerate(pairs)
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name
    # Print the rank and names associated with each rank
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

In [ ]:
# Create the normal variable: normal
normal = ('simple')

# Create the mistaken variable: error
error = ('trailing comma',)

# Print the types of the variables
print(type(normal))
print(type(error))

In [4]:
i=262.57
p=4958.84
r=i*100/p
print(r)

5.294988344048205

In [6]:
import numpy as np
x=[45,44.8,44.8,44.7,45]
np.mean(x)

44.86

In [ ]:
# Find the union: all_names
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names in all_names
print(len(all_names))

# Find the intersection: overlapping_names
overlapping_names = baby_names_2011.intersection(baby_names_2014)

# Print the count of names in overlapping_names
print(len(overlapping_names))

In [ ]:
# Create the empty set: baby_names_2011
baby_names_2011 = set()
# Loop over records and add the names from 2011 to the baby_names_2011 set
for row in records:
    # Check if the first column is '2011'
   if row[0] == '2011'
        # Add the fourth column to the set
        baby_names_2011.add(row[3])

# Find the difference between 2011 and 2014: differences
differences = baby_names_2011.difference(baby_names_2014)

# Print the differences
print(differences)

**CHAPTER 2**

In [ ]:
# Create an empty dictionary: names_by_rank
names_by_rank = {}

# Loop over the girl names
for rank, names in female_baby_names_2012.items():
    # Add each name to the names_by_rank dictionary using rank as the key
    names_by_rank[rank] = names
    
# Sort the names_by_rank dict by rank in descending order and slice the first 10 items
for rank in sorted(names_by_rank, reverse=True)[:10]:
    # Print each item
    print(names_by_rank[rank])

In [ ]:
# Safely print rank 7 from the names dictionary
print(names.get(7))

# Safely print the type of rank 100 from the names dictionary
print(type(names.get(100)))

# Safely print rank 105 from the names dictionary or 'Not Found'
print(names.get(105,'Not Found'))

In [ ]:
# Print a list of keys from the boy_names dictionary
print(boy_names.keys())

# Print a list of keys from the boy_names dictionary for the year 2013
print(boy_names[2013].keys())

# Loop over the dictionary
for year in boy_names:
    # Safely print the year and the third ranked name or 'Unknown'
    print(year, boy_names[year].get(3, 'Unknown'))

In [5]:
import pandas as pd
baby = 'https://assets.datacamp.com/production/repositories/906/datasets/8043b235dab7ca9b3667df9195459bc6bf754c2a/baby_names.csv'
crime = 'https://assets.datacamp.com/production/repositories/906/datasets/7fe0304955dbf05e3a0d57c8959578dcef479e81/crime_sampler.csv'
cta_stat ='https://assets.datacamp.com/production/repositories/906/datasets/b7806a5db41c23931fd1adf02af54ac10c15e61c/cta_daily_station_totals.csv'
cta_sum = 'https://assets.datacamp.com/production/repositories/906/datasets/0c8af86b914fd9edfd3d907b6006fefaadaf827b/cta_daily_summary_totals.csv'
#bab, crim, stat, sum_

In [15]:
bab.head()

   BRITH_YEAR  GENDER  ETHNICTY       NAME  COUNT  RANK
0        2011  FEMALE  HISPANIC  GERALDINE     13    75
1        2011  FEMALE  HISPANIC        GIA     21    67
2        2011  FEMALE  HISPANIC     GIANNA     49    42
3        2011  FEMALE  HISPANIC    GISELLE     38    51
4        2011  FEMALE  HISPANIC      GRACE     36    53

In [67]:
bab2011 = set((bab[bab['BRITH_YEAR']==2011]['NAME']).str.lower())
bab2014 = set((bab[bab['BRITH_YEAR']==2014]['NAME']).str.upper())

In [74]:
all_names = bab2011.union(bab2014)
print(len(all_names))
overlapping = bab2011.intersection(bab2014)
print(len(overlapping))

2447
0

In [73]:
baby_names_2011 = set()
for row in bab:
    if row[0] == '2011':
        baby_names_2011.add(row[3])
dif = baby_names_2011.difference(bab2014)
print(dif)

set()

In [78]:
female_baby2012 = {44: 'RIVKY', 26: 'JULIA', 43: 'TOBY', 37: 'MALKY', 19: 'ABIGAIL', 25: 'ZOE', 42: 'PENELOPE', 39: 'MALKA', 33: 'SHAINDY', 36: 'MADISON', 35: 'GITTY', 32: 'STELLA', 41: 'MADELINE', 7: 'CHAYA', 38: 'EVA', 18: 'ELIZABETH', 30: 'GRACE', 34: 'FAIGY', 14: 'SARA', 45: 'NICOLE', 20: 'ALEXANDRA', 12: 'EMILY', 29: 'HANNAH', 1: 'EMMA', 40: 'ALEXA', 28: 'GABRIELLA', 24: 'RIVKA', 4: 'SOPHIA', 5: 'ESTHER', 27: 'SOPHIE', 22: 'LILY', 10: 'MIRIAM', 8: 'AVA', 9: 'CHANA', 13: 'MIA', 6: 'RACHEL', 17: 'MAYA', 31: 'AVERY', 11: 'ELLA', 23: 'SOFIA', 3: 'SARAH', 21: 'VICTORIA', 16: 'ISABELLA', 2: 'LEAH', 15: 'CHARLOTTE', 46: 'VIOLET', 47: 'NATALIE', 69: 'LILIANA', 62: 'SURY', 71: 'SAVANNAH', 75: 'VERA', 72: 'VANESSA', 48: 'REBECCA', 77: 'SYLVIA', 67: 'TAYLOR', 57: 'VALENTINA', 73: 'SIMONE', 79: 'SHAINA', 53: 'RILEY', 64: 'YIDES', 78: 'SIMA', 51: 'NINA', 74: 'SLOANE', 63: 'NAOMI', 70: 'YAEL', 55: 'SYDNEY', 68: 'ZOEY', 76: 'YEHUDIS', 60: 'FRANCESCA', 49: 'MARIA', 61: 'ZISSY', 65: 'SKYLAR', 59: 'JOSEPHINE', 66: 'VERONICA', 50: 'YITTY', 58: 'TALIA', 52: 'KATHERINE', 54: 'SIENNA', 56: 'VIVIENNE', 81: 'YITTA', 83: 'YARA', 82: 'TZIVIA', 80: 'TZIPORA'}

names_by_rank = {}
for rank, names in female_baby2012.items():
    names_by_rank[rank] = names

for rank in sorted(names_by_rank, reverse=True)[:10]:
    print(names_by_rank[rank])

YARA
TZIVIA
YITTA
TZIPORA
SHAINA
SIMA
SYLVIA
YEHUDIS
VERA
SLOANE

In [89]:
names = {44: 'RIVKY', 26: 'JULIA', 43: 'TOBY', 37: 'MALKY', 19: 'ABIGAIL', 25: 'ZOE', 42: 'PENELOPE', 39: 'MALKA', 33: 'SHAINDY', 36: 'MADISON', 35: 'GITTY', 32: 'STELLA', 41: 'MADELINE', 7: 'CHAYA', 38: 'EVA', 18: 'ELIZABETH', 30: 'GRACE', 34: 'FAIGY', 14: 'SARA', 45: 'NICOLE', 20: 'ALEXANDRA', 12: 'EMILY', 29: 'HANNAH', 1: 'EMMA', 40: 'ALEXA', 28: 'GABRIELLA', 24: 'RIVKA', 4: 'SOPHIA', 5: 'ESTHER', 27: 'SOPHIE', 22: 'LILY', 10: 'MIRIAM', 8: 'AVA', 9: 'CHANA', 13: 'MIA', 6: 'RACHEL', 17: 'MAYA', 31: 'AVERY', 11: 'ELLA', 23: 'SOFIA', 3: 'SARAH', 21: 'VICTORIA', 16: 'ISABELLA', 2: 'LEAH', 15: 'CHARLOTTE', 46: 'VIOLET', 47: 'NATALIE', 69: 'LILIANA', 62: 'SURY', 71: 'SAVANNAH', 75: 'VERA', 72: 'VANESSA', 48: 'REBECCA', 77: 'SYLVIA', 67: 'TAYLOR', 57: 'VALENTINA', 73: 'SIMONE', 79: 'SHAINA', 53: 'RILEY', 64: 'YIDES', 78: 'SIMA', 51: 'NINA', 74: 'SLOANE', 63: 'NAOMI', 70: 'YAEL', 55: 'SYDNEY', 68: 'ZOEY', 76: 'YEHUDIS', 60: 'FRANCESCA', 49: 'MARIA', 61: 'ZISSY', 65: 'SKYLAR', 59: 'JOSEPHINE', 66: 'VERONICA', 50: 'YITTY', 58: 'TALIA', 52: 'KATHERINE', 54: 'SIENNA', 56: 'VIVIENNE', 81: 'YITTA', 83: 'YARA', 82: 'TZIVIA', 80: 'TZIPORA'}
print(names.get(8))

AVA

In [90]:
print(names.get('JOAN'))

None

In [92]:
print(names.get('JULIA',"NOT FOUND"))

NOT FOUND

In [97]:
thisdict = {
    "brand":"Ford",
    "model" : "Mustang",
    "year" : 1964,
    "colors":["red","white","blue"]
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [94]:
print(thisdict['brand'])

Ford

In [96]:
print(len(thisdict))

3

In [99]:
print(type(thisdict))

<class 'dict'>

In [100]:
dict1 = dict(name="Jhon", age=36, country="Norway")
print(dict1)

{'name': 'Jhon', 'age': 36, 'country': 'Norway'}

In [102]:
x = thisdict["model"]
print(x)

Mustang

In [103]:
x = thisdict.get("model")
print(x)

Mustang

In [104]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year', 'colors'])

In [105]:
car ={
    "brand":"Ford",
    "model" : "Mustang",
    "year" : 1964
} 
x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [106]:
car['color'] = "white"
print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [107]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964, ['red', 'white', 'blue']])

In [108]:
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('colors', ['red', 'white', 'blue'])])

In [123]:
thisdict = {
    "brand":"Ford",
    "model" : "Mustang",
    "year" : 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [112]:
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [113]:
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 2020}

In [116]:
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [117]:
del thisdict['model']
print(thisdict)

{'brand': 'Ford'}

In [120]:
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [122]:
thisdict.clear()
print(thisdict)

{}

In [124]:
for x in thisdict:
    print(x)

brand
model
year

In [125]:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
2018

In [126]:
for x in thisdict.values():
    print(x)

Ford
Mustang
2018

In [127]:
for x in thisdict.keys():
    print(x)

brand
model
year

In [128]:
for x,y in thisdict.items():
    print(x,y)

brand Ford
model Mustang
year 2018

In [129]:
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [130]:
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [131]:
myfam = {
    "child1":{
        "name":"Emil",
        "year":2004
    },
    "child2":{
        "name":"Tobias",
        "year":2007
    },
    "child3":{
        "name":"Linus",
        "year":2011
    }
}

In [132]:
print(myfam["child2"]["name"])

Tobias

In [133]:
names

{44: 'RIVKY',
 26: 'JULIA',
 43: 'TOBY',
 37: 'MALKY',
 19: 'ABIGAIL',
 25: 'ZOE',
 42: 'PENELOPE',
 39: 'MALKA',
 33: 'SHAINDY',
 36: 'MADISON',
 35: 'GITTY',
 32: 'STELLA',
 41: 'MADELINE',
 7: 'CHAYA',
 38: 'EVA',
 18: 'ELIZABETH',
 30: 'GRACE',
 34: 'FAIGY',
 14: 'SARA',
 45: 'NICOLE',
 20: 'ALEXANDRA',
 12: 'EMILY',
 29: 'HANNAH',
 1: 'EMMA',
 40: 'ALEXA',
 28: 'GABRIELLA',
 24: 'RIVKA',
 4: 'SOPHIA',
 5: 'ESTHER',
 27: 'SOPHIE',
 22: 'LILY',
 10: 'MIRIAM',
 8: 'AVA',
 9: 'CHANA',
 13: 'MIA',
 6: 'RACHEL',
 17: 'MAYA',
 31: 'AVERY',
 11: 'ELLA',
 23: 'SOFIA',
 3: 'SARAH',
 21: 'VICTORIA',
 16: 'ISABELLA',
 2: 'LEAH',
 15: 'CHARLOTTE',
 46: 'VIOLET',
 47: 'NATALIE',
 69: 'LILIANA',
 62: 'SURY',
 71: 'SAVANNAH',
 75: 'VERA',
 72: 'VANESSA',
 48: 'REBECCA',
 77: 'SYLVIA',
 67: 'TAYLOR',
 57: 'VALENTINA',
 73: 'SIMONE',
 79: 'SHAINA',
 53: 'RILEY',
 64: 'YIDES',
 78: 'SIMA',
 51: 'NINA',
 74: 'SLOANE',
 63: 'NAOMI',
 70: 'YAEL',
 55: 'SYDNEY',
 68: 'ZOEY',
 76: 'YEHUDIS',
 60: 'FRANCESCA',
 49: 'MARIA',
 61: 'ZISSY',
 65: 'SKYLAR',
 59: 'JOSEPHINE',
 66: 'VERONICA',
 50: 'YITTY',
 58: 'TALIA',
 52: 'KATHERINE',
 54: 'SIENNA',
 56: 'VIVIENNE',
 81: 'YITTA',
 83: 'YARA',
 82: 'TZIVIA',
 80: 'TZIPORA'}

In [ ]:
art_galleries['10007'] = galleries_1007
art_galleres['11234'].update(galleries_11234)

In [144]:
myfam = {
    "child1":{
        "name":"Emil",
        "year":2004
    },
    "child2":{
        "name":"Tobias",
        "year":2007
    },
    "child3":{
        "name":"Linus",
        "year":2011
    }
}

child4 = {'name':'Polycarp', 'year':2023}
myfam['child4']=child4
print(myfam)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}, 'child4': {'name': 'Polycarp', 'year': 2023}}

In [141]:
del myfam['child1']
print(myfam)

{'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}, 'child4': {'name': 'Polycarp', 'year': 2023}}

In [142]:
child2 = myfam.pop('child2')
print(child2)

{'name': 'Tobias', 'year': 2007}

In [143]:
myfam

{'child3': {'name': 'Linus', 'year': 2011},
 'child4': {'name': 'Polycarp', 'year': 2023}}

In [ ]:
#remove 2011 from female_names and store it
female2011 = females_names.pop(2011)
#remove 2015 from female_names safely
female2015 = females_names.pop(2015,{})

#delete 2012 from female_names
del female_names[2012]

In [145]:
'child2' in myfam

True

In [146]:
'child5' in myfam

False

In [151]:
for name, year in myfam.items():
    print(name, year)

child1 {'name': 'Emil', 'year': 2004}
child2 {'name': 'Tobias', 'year': 2007}
child3 {'name': 'Linus', 'year': 2011}
child4 {'name': 'Polycarp', 'year': 2023}

In [161]:
for i in range(4):
    child = 'child' + str(i+1)
    for name, year in myfam[child].items():
        print(name, year)

name Emil
year 2004
name Tobias
year 2007
name Linus
year 2011
name Polycarp
year 2023

In [ ]:
import csv
csvfile = open('GALLERY.csv', 'r')
for row in csv.reader(csvfile):
    print(row)
csvfile.close()

#make a dictionary
for row in csv.DictReader(csvfile):
    print(row)

In [ ]:
from collections import Counter
nyc_eatery_count_by_types = Counter(nyc_eatery_types)
print(nyc_eatery_count_by_types)
print(nyc_eatery_count_by_types['Restaurant'])

In [ ]:
print(nyc_eatery_count_by_types.most_common(3))

In [ ]:
from collections import defaultdict
eateries_by_park = defaultdict(list)
for park_id, name in nyc_eateries_parks:
    eateries_by_park[park_id].append(name)
print(eateries_by_park['M010'])

In [ ]:
from collections import defaultdict
eatery_contact_types = defaultdict(int)
for eatery in nyc_eateries:
    if eatery.get('phone'):
        eatery_contact_types['phones'] +=1
    if eatery.get('website'):
        eatery_contact_types['websites'] +=1
print(eatery_contact_types)

### Lists

In [15]:
veggies = ['carrots', "mustard", "tomato", "onion"]
veggies.append('cabbage')

In [16]:
veggies[2]

'tomato'

In [17]:
fruits = ['pineapple',"dalandan"]
go = fruits + veggies
print(go)

['pineapple', 'dalandan', 'carrots', 'mustard', 'tomato', 'onion', 'cabbage']

In [8]:
position = fruits.index('dalandan')
print(position)

1

In [9]:
name = go.pop(position)
print(name)

dalandan

In [18]:
print(go)

['pineapple', 'dalandan', 'carrots', 'mustard', 'tomato', 'onion', 'cabbage']

In [19]:
got = [g.title() for g in go]
print(got)

['Pineapple', 'Dalandan', 'Carrots', 'Mustard', 'Tomato', 'Onion', 'Cabbage']

In [29]:
up = [g.upper() for g in go]

In [28]:
[len(g) for g in go]

[9, 8, 7, 7, 6, 5, 7]

In [30]:
sorted_up = sorted(up)
print(sorted_up)

['CABBAGE', 'CARROTS', 'DALANDAN', 'MUSTARD', 'ONION', 'PINEAPPLE', 'TOMATO']

In [1]:
veggies = ['carrots', "mustard", "tomato", "onion"]
fruits = ['pineapple',"dalandan", "apple", "atis"]
food_pairs = list(zip(fruits, veggies))
print(food_pairs)

[('pineapple', 'carrots'), ('dalandan', 'mustard'), ('apple', 'tomato'), ('atis', 'onion')]

In [2]:
fru, veg = food_pairs[0]
print(fru)

pineapple

In [3]:
veg

'carrots'

In [4]:
fru1, veg1 = food_pairs[1]
print("fruit: ", fru1, "veggie: ", veg1)

fruit:  dalandan veggie:  mustard

In [8]:
import pandas as pd
bab = pd.read_csv(baby)
bab.head()

   BRITH_YEAR  GENDER  ETHNICTY       NAME  COUNT  RANK
0        2011  FEMALE  HISPANIC  GERALDINE     13    75
1        2011  FEMALE  HISPANIC        GIA     21    67
2        2011  FEMALE  HISPANIC     GIANNA     49    42
3        2011  FEMALE  HISPANIC    GISELLE     38    51
4        2011  FEMALE  HISPANIC      GRACE     36    53

In [14]:
for fruits, veggies in food_pairs:
    print(veggies)
    print(fruits)

carrots
pineapple
mustard
dalandan
tomato
apple
onion
atis

### Enumerating Positions

In [15]:
for idx, item in enumerate(food_pairs):
    veg, fru = item
    print(idx, veg, fru)

0 pineapple carrots
1 dalandan mustard
2 apple tomato
3 atis onion

## Tuples

In [2]:
food_pairs

[('pineapple', 'carrots'),
 ('dalandan', 'mustard'),
 ('apple', 'tomato'),
 ('atis', 'onion')]

In [6]:
fruit1, veggie1 = food_pairs[-1]

In [7]:
print(fruit1)
print(veggie1)

atis
onion

In [11]:
for fruit , veggie in food_pairs:
    print(veggie, " , ", fruit)

carrots  ,  pineapple
mustard  ,  dalandan
tomato  ,  apple
onion  ,  atis

In [15]:
for idx, item in enumerate(food_pairs):
    veggie, fruit = item
    print(idx, "-",fruit,"-", veggie)

0 - carrots - pineapple
1 - mustard - dalandan
2 - tomato - apple
3 - onion - atis

In [20]:
val = [1,5,10,20,50,100,200,500]
man = ['Rizal',"Bonifacio", "Aguinaldo","Quezon","Osmena","Roxas","Macapagal","Aquino"]
money = list(zip(val, man))
print(money)

[(1, 'Rizal'), (5, 'Bonifacio'), (10, 'Aguinaldo'), (20, 'Quezon'), (50, 'Osmena'), (100, 'Roxas'), (200, 'Macapagal'), (500, 'Aquino')]

In [24]:
for idx, feature in enumerate(money):
    a, b = feature
    print(idx,a,"<->",b)

0 1 <-> Rizal
1 5 <-> Bonifacio
2 10 <-> Aguinaldo
3 20 <-> Quezon
4 50 <-> Osmena
5 100 <-> Roxas
6 200 <-> Macapagal
7 500 <-> Aquino

In [38]:
las = ["jrc", "rta", "jvl"]
svs = ["jme", "rpc", "mgb"]
shifts = list(zip(las,svs))

#iterate over shifts
for num, shift in enumerate(shifts):
    la, sv = shift
    print(f'Shift {num+1}: {sv} and {la}')

Shift 1: jme and jrc
Shift 2: rpc and rta
Shift 3: mgb and jvl

In [39]:
samples = 'inprocess'
errors = 'ahfif',
print(type(samples))
print(type(errors))

<class 'str'>
<class 'tuple'>

### WORKING WITH STRINGS

In [40]:
cookie = 'Anzac'
price = 'Php 200'
print(f"Each { cookie } cookie costs {price}.")

Each Anzac cookie costs Php 200.

In [43]:
child_ages = ["3","4","7","8"]
print(" - ".join(child_ages))

3 - 4 - 7 - 8

In [44]:
print("~o~".join(man))

Rizal~o~Bonifacio~o~Aguinaldo~o~Quezon~o~Osmena~o~Roxas~o~Macapagal~o~Aquino

In [45]:
print(f"The children are ages {', '.join(child_ages[0:3])}, and {child_ages[-1]}.")

The children are ages 3, 4, 7, and 8.

In [2]:
man.append("Lim, Escoda, and Santos")
print(man)

['Rizal', 'Bonifacio', 'Aguinaldo', 'Quezon', 'Osmena', 'Roxas', 'Macapagal', 'Aquino', 'Lim, Escoda, and Santos']

In [51]:
print(f"The heroes featured in Philippine money are {', '.join(man[0:-2])}, and ({man[-1]}).")

The heroes featured in Philippine money are Rizal, Bonifacio, Aguinaldo, Quezon, Osmena, Roxas, Macapagal, Aquino, and (Lim, Escoda, and Santos).

In [53]:
#matching parts of  a string
print([name for name in man if name.startswith("A")])

['Aguinaldo', 'Aquino']

In [54]:
[x for x in man if x.startswith('B')]

['Bonifacio']

In [57]:
[m for m in man if m.endswith(('o','a'))]

['Bonifacio', 'Aguinaldo', 'Osmena', 'Aquino']

In [59]:
"life" in "Life is a long lesson in humility".lower()

True

In [7]:
for x, man in money:
    print(f"{man} is the hero featured in {x} pesos.")

Rizal is the hero featured in 1 pesos.
Bonifacio is the hero featured in 5 pesos.
Aguinaldo is the hero featured in 10 pesos.
Quezon is the hero featured in 20 pesos.
Osmena is the hero featured in 50 pesos.
Roxas is the hero featured in 100 pesos.
Macapagal is the hero featured in 200 pesos.
Aquino is the hero featured in 500 pesos.

### Dictionaries

In [18]:
art_galleries = {}
for name, zip_code in galleries:
    art_galleries[name] = zip_code

In [32]:
bills = {}

for value, hero in money:
    bills[hero] = value

In [33]:
for hero in sorted(bills)[-2:]:
    print(hero)

Rizal
Roxas

In [35]:
bills['Aquino']

500

In [36]:
bills['Villar']

KeyError: 'Villar'

In [37]:
bills.get('Villar',"Not Found")

'Not Found'

In [39]:
bills.get('Quezon')

20

In [ ]:
# Create an empty dictionary: squirrels_by_park
squirrels_by_park = {}

# Loop over the squirrels list and unpack each tuple
for park, squirrel_detail in squirrels:
    # Add each squirrel_details to the squirrels_by_park dictionary 
    squirrels_by_park[park] = squirrel_detail
    
# Sort the names_by_rank alphabetically dict by park
for park in sorted(squirrels_by_park):
    # Print each park and it's value in squirrels_by_park
    print(f'{park}: {squirrels_by_park[park]}')

In [ ]:
# Safely print 'Union Square Park' from the squirrels_by_park dictionary
print(squirrels_by_park.get('Union Square Park'))

# Safely print the type of 'Fort Tryon Park' from the squirrels_by_park dictionary
print(type(squirrels_by_park.get('Fort Tryon Park')))

# Safely print 'Central Park' from the squirrels_by_park dictionary or 'Not Found'
print(squirrels_by_park.get('Central Park', 'Not Found'))

In [4]:
import datetime as dt
x = dt.datetime.now()
print(x)

2023-09-19 06:33:41.090222

In [5]:
#return name and name of weekday
print(x.year)
print(x.strftime("%A"))

2023
Tuesday

In [ ]:
#creating a date object
y = dt.date