In [ ]:
#reading a text 
filename = 'huck_finn.txt'
file = open(filename, mode='r')
text = file.read()
#clean while cooking
file.close()

In [ ]:
#context manager with
with open('huck_finn,txt', r) as file:
    print(file.read())

In [1]:
! ls

Joining Data on Pandas.ipynb
analyzing-police-activity.ipynb
cleaning data.ipynb
data-manipulation.ipynb
datacamp_functions.ipynb
datatypes4ds.ipynb
dognapper.py
financial_data_course.ipynb
handwashing.ipynb
importing-and-managing-financial-data-in-python.ipynb
importing-data.ipynb
intermediate-python.ipynb
intro to matplotlib.ipynb
intro to numpy.ipynb
intro to seaborn.ipynb
iterables.ipynb
python-toolbox1.ipynb
regex intro.ipynb
scala.ipynb
stats.ipynb
tv.ipynb

In [ ]:
import numpy as np
filename = 'MNIST_header.txt'
data = np.loadtxt(filename, delimiter=',', skiprows=1, usecols=[0,2], dtype=str)
print(data)

In [ ]:
#pickled files 
import pickle
with open('pickled_fruit.pkl', 'rb') as file:
    data = pickle.load(file)
print(data)

In [ ]:
import os
wd = os.getcwd()
os.listdir(wd)

In [4]:
# Import pickle package
import pickle

# Open pickle file and load data: d
with open('data.pkl', 'rb') as file:
    d = pickle.load(file)

# Print d
print(d)

# Print datatype of d
print(type(d))

['realpy-cleaning.ipynb',
 '.DS_Store',
 'crm.ipynb',
 'README.md',
 'flood.ipynb',
 '.gitignore',
 'check-ores.ipynb',
 '.ipynb_checkpoints',
 'c3 shipments.ipynb',
 '.git',
 'data']

In [ ]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = 'battledeath.xlsx'

# Load spreadsheet: xls
xls = pd.ExcelFile(file)

# Print sheet names
print(xls.sheet_names)

# Load a sheet into a DataFrame by name: df1
df1 = xls.parse('2004')

# Print the head of the DataFrame df1
print(df1.head())

# Load a sheet into a DataFrame by index: df2
df2 = xls.parse(0)

# Print the head of the DataFrame df2
print(df2.head())

In [ ]:
# Parse the first sheet and rename the columns: df1
df1 = xls.parse(0, skiprows=[0], names=['Country','AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
df2 = xls.parse(1, usecols=[0], skiprows=[0], names=['Country'])

# Print the head of the DataFrame df2
print(df2.head())

In [ ]:
import pandas as pd
from sas7bdat import SAS7BDAT
with SAS7BDAT('urbanpop.sas7bdat') as file:
    df_sas = file.to_data_frame()
#importing stata
data = pd.read_stata('urbanpop.dta')

In [ ]:
#Hierarchical Data Format version 5(HDF5)
import h5py
filename ='hbdhbd.hdf5'
data = h5py.File(filename,'r')
print(type(data))

for key in data.keys():
    print(key)

In [ ]:
for key in data['meta'].keys():
    print(key)

In [ ]:
# Get the HDF5 group: group
group = data['strain']

# Check out keys of group
for key in group.keys():
    print(key)

# Set variable equal to time series data:
strain = np.array(data['strain']['Strain'])


# Set number of time points to sample: 
num_samples = 10000


# Set time vector
time = np.arange(0, 1, 1/num_samples)

# Plot data
plt.plot(time, strain[:num_samples])
plt.xlabel('GPS Time (s)')
plt.ylabel('strain')
plt.show()

In [ ]:
#importing a .mat file
import scipy.io
filename = 'workspace.mat'
mat = scipy.io.loadmat(filename)
print(type(mat))

In [ ]:
# Print the keys of the MATLAB dictionary
print(mat.keys())

# Print the type of the value corresponding to the key 'CYratioCyt'
print(type(mat['CYratioCyt']))

# Print the shape of the value corresponding to the key 'CYratioCyt'
print(np.shape(mat['CYratioCyt']))

# Subset the array and plot it
data = mat['CYratioCyt'][25, 5:]
fig = plt.figure()
plt.plot(data)
plt.xlabel('time (min.)')
plt.ylabel('normalized fluorescence (measure of expression)')
plt.show()

## Relational Database

In [7]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Northwind.sqlite')

In [9]:
table_name = engine.table_names()
print(table_name)

[]

/var/folders/g6/qw3t2lbx7x91r1mfyp6k77k00000gn/T/ipykernel_6666/1760379430.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_name = engine.table_names()

In [ ]:
#basic sql query
SELECT * FROM table_name

In [ ]:
con = engine.connect()
rs = con.execute("SELECT * FROM Orders")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()

In [ ]:
#using context manager
with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()

In [ ]:
# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee WHERE EmployeeID>=6")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

In [ ]:
# Create engine: engine
engine = create_engine("sqlite:///Chinook.sqlite")

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee ORDER BY Birthdate")
    df = pd.DataFrame(rs.fetchall())

    # Set the DataFrame's column names
    df.columns = rs.keys()


# Print head of DataFrame
print(df.head())

In [ ]:
#use pandas to query
df = pd.read_sql_query("SELECT * FROM Orders", engine)

In [ ]:
query = "SELECT OrderID, CompanyName FROM Orders INNER JOIN Customers on Orders.CustomerID = Customers.CustomersID"
df = pd.read_sql_query(query, engine)
print(df.head())