In [29]:
tweets = 'https://assets.datacamp.com/production/repositories/464/datasets/82e9842c09ad135584521e293091c2327251121d/tweets.csv'
wb = 'https://assets.datacamp.com/production/repositories/464/datasets/2175fef4b3691db03449bbc7ddffb740319c1131/world_ind_pop_data.csv'

In [1]:
#Iterators versus iterables
#iterables -> with iter()
#iterator -> with next()
word = 'Da'
it = iter(word)
next(it)

'D'

In [2]:
next(it)

'a'

In [3]:
word = 'Datacamp'
it = iter(word)
print(*it)

D a t a c a m p

In [4]:
pythonistas = {'hugo':'bowne-anderson','elbon':'cuerbo'}
for key, value in pythonistas.items():
    print(key,value)

hugo bowne-anderson
elbon cuerbo

In [5]:
avengers = ['hawkeye','ironman','thor','quicksilver']
e = enumerate(avengers)
print(type(e))

<class 'enumerate'>

In [6]:
e_list = list(e)
print(e_list)

[(0, 'hawkeye'), (1, 'ironman'), (2, 'thor'), (3, 'quicksilver')]

In [11]:
for index, value in enumerate(avengers, start=100):
    print(index,value)

100 hawkeye
101 ironman
102 thor
103 quicksilver

In [12]:
names = ['barton','stark','odinson', 'maximoff']
z = zip(avengers, names)
print(type(z))

<class 'zip'>

In [13]:
z_list = list(z)
print(z_list)

[('hawkeye', 'barton'), ('ironman', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [14]:
for z1, z2 in zip(avengers, names):
    print(z1, z2)

hawkeye barton
ironman stark
thor odinson
quicksilver maximoff

In [16]:
z = zip(avengers, names)
print(*z)

('hawkeye', 'barton') ('ironman', 'stark') ('thor', 'odinson') ('quicksilver', 'maximoff')

In [17]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1,value1 in enumerate(mutants):
    print(index1, value1)

# Change the start index
for index2, value2 in enumerate(mutants,start=1):
    print(index2, value2)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde
1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pryde

In [25]:
mutants = ['charles xavier','bobby drake','kurt wagner','max eisenhardt','kitty pryde']
aliases = ['prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat']
powers = ['telepathy','thermokinesis','teleportation','magnetokinesis','intangibility']
# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants,aliases, powers))

# Print the list of tuples
print(mutant_data)

[('charles xavier', 'prof x', 'telepathy'), ('bobby drake', 'iceman', 'thermokinesis'), ('kurt wagner', 'nightcrawler', 'teleportation'), ('max eisenhardt', 'magneto', 'magnetokinesis'), ('kitty pryde', 'shadowcat', 'intangibility')]

In [20]:
# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants,aliases, powers)

# Print the zip object
print(mutant_zip)

<zip object at 0x7fa266e69f40>

In [21]:
# Unpack the zip object and print the tuple values
for value1,value2, value3 in mutant_zip:
    print(value1, value2, value3)

charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pryde shadowcat intangibility

In [26]:
z1 = zip(mutants, powers)
print(*z1)

z1 = zip(mutants, powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)

('charles xavier', 'telepathy') ('bobby drake', 'thermokinesis') ('kurt wagner', 'teleportation') ('max eisenhardt', 'magnetokinesis') ('kitty pryde', 'intangibility')
False
False

In [ ]:
import pandas as pd
result = 0
for chunk in pd.read_csv('data.csv', chunksize=1000):
    result.append(sum(chunk['x']))
total = sum(result)
print(total)

In [33]:
import pandas as pd
counts_dict = {}
for chunk in pd.read_csv(tweets, chunksize=100):
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] +=1
        else:
            counts_dict[entry] = 1
print(counts_dict)

{'en': 97, 'et': 1, 'und': 2}

In [44]:
# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize=c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries(tweets, 10, 'geo')

# Print result_counts
print(result_counts)

{nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1, nan: 1}

In [36]:
df = pd.read_csv(tweets)
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [39]:
df['lang'].value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64

In [42]:
x = df[['created_at','text','retweeted_status']]

In [43]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   created_at        100 non-null    object
 1   text              100 non-null    object
 2   retweeted_status  62 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB

In [1]:
nums = [12,8,21,3,16]
new_nums = []
for num in nums:
    new_nums.append(num+1)
print(new_nums)

[13, 9, 22, 4, 17]

In [2]:
new_nums = [num + 1 for num in nums]
print(new_nums)

[13, 9, 22, 4, 17]

In [3]:
result = [num for num in range(11)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#nested loops
pairs_1 = []
for num1 in range(0,2):
    for num2 in range(6,8):
        pairs_1.append((num1, num2))
print(pairs_1)

[(0, 6), (0, 7), (1, 6), (1, 7), (2, 6), (2, 7), (3, 6), (3, 7), (4, 6), (4, 7), (5, 6), (5, 7), (6, 6), (6, 7), (7, 6), (7, 7), (8, 6), (8, 7), (9, 6), (9, 7)]

In [6]:
pairs_2 = [(num1, num2) for num1 in range(0,2) for num2 in range(6,8)]
print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [7]:
doctor = ['house', 'cuddy', 'chase', 'thirteen', 'wilson']
[doc[0] for doc in doctor]

['h', 'c', 'c', 't', 'w']

In [9]:
[doc[-1].upper() for doc in doctor]

['E', 'Y', 'E', 'N', 'N']

In [11]:
[len(doc) for doc in doctor]

[5, 5, 5, 8, 6]

In [12]:
squares = [i**2 for i in range(0,10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
#create a 5x5 matrix using list of lists
matrix = [[col for col in range(11)] for row in range(11)]

#print the matrix 
for row in matrix:
    print(row)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#conditionals on iterable
[num**2 for num in range(10) if num%2==0]

[0, 4, 16, 36, 64]

In [16]:
[num**2 if num%2==0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [17]:
#dict comprehension
pos_neg = {num: -num for num in range(9)}
print(pos_neg)

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}

In [22]:
{num: num for num in range(2,9)}

{2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [23]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
new_fellowship = [member for member in fellowship if len(member) >= 7]
print(new_fellowship)

['samwise', 'aragorn', 'legolas', 'boromir']

In [26]:
[member for member in fellowship if len(member)%2!=0]

['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

In [31]:
[member for member in fellowship if member[-1]=='i']

['gimli']

In [38]:
[member if len(member) >= 7 else '' for member in fellowship]

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [39]:
{ member: len(member) for member in fellowship}

{'frodo': 5,
 'samwise': 7,
 'merry': 5,
 'aragorn': 7,
 'legolas': 7,
 'boromir': 7,
 'gimli': 5}

In [40]:
[2*num for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [42]:
(2*num for num in range(10))

In [43]:
result = (num for num in range(6))
for num in result:
    print(num)

0
1
2
3
4
5

In [48]:
result = (num for num in range(6))
#print(list(result))

In [49]:
print(next(result))

0

In [55]:
[num for num in range(1000)][5]

5

In [57]:
even_nums = (num for num in range(10) if num%2==0)
print(list(even_nums))

[0, 2, 4, 6, 8]

In [58]:
#generator function
def num_sequence(n):
    i=0
    while i<n:
        yield i
        i += 1

In [60]:
result = num_sequence(5)
print(type(result))

<class 'generator'>

In [61]:
for item in result:
    print(item)

0
1
2
3
4

In [ ]:
# Create generator object: result
result = (num for num in range(31))

# Print the first 5 values
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

# Print the rest of the values
for value in result:
    print(value)

In [62]:
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']
#create a generator object
lengths = (len(person) for person in lannister)
for value in lengths:
    print(value)

6
5
5
6
7

In [63]:
#define generator functiom
def get_lengths(input_list):
    for person in input_list:
        yield len(person)

for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

#### basic
[output expression for iterator variable in iterable]
#### advanced
[output expression +

conditional on out for iterator variable in iterable +

conditional on iterable]

In [64]:
import pandas as pd
url = 'https://assets.datacamp.com/production/repositories/464/datasets/82e9842c09ad135584521e293091c2327251121d/tweets.csv'
df = pd.read_csv(url)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   contributors               0 non-null      float64
 1   coordinates                0 non-null      float64
 2   created_at                 100 non-null    object
 3   entities                   100 non-null    object
 4   extended_entities          20 non-null     object
 5   favorite_count             100 non-null    int64
 6   favorited                  100 non-null    bool
 7   filter_level               100 non-null    object
 8   geo                        0 non-null      float64
 9   id                         100 non-null    int64
 10  id_str                     100 non-null    int64
 11  in_reply_to_screen_name    11 non-null     object
 12  in_reply_to_status_id      8 non-null      float64
 13  in_reply_to_status_id_str  8 non-null      float64
 14  in_reply_to_user_id        11 non-null     float64
 15  in_reply_to_user_id_str    11 non-null     float64
 16  is_quote_status            100 non-null    bool
 17  lang                       100 non-null    object
 18  place                      3 non-null      object
 19  possibly_sensitive         72 non-null     object
 20  quoted_status              14 non-null     object
 21  quoted_status_id           14 non-null     float64
 22  quoted_status_id_str       14 non-null     float64
 23  retweet_count              100 non-null    int64
 24  retweeted                  100 non-null    bool
 25  retweeted_status           62 non-null     object
 26  source                     100 non-null    object
 27  text                       100 non-null    object
 28  timestamp_ms               100 non-null    int64
 29  truncated                  100 non-null    bool
 30  user                       100 non-null    object
dtypes: bool(4), float64(9), int64(5), object(13)
memory usage: 21.6+ KB

In [74]:
tweet_time = df['created_at']
tweet_clock_time = [entry[11:19] for entry in tweet_time]
print(tweet_clock_time)

['23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

In [73]:
# Extract the clock time: tweet_clock_time
tweet_clock_time = [ entry[11:19] for entry in tweet_time if entry[17:19] == '19']
print(tweet_clock_time)

['23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

In [75]:
link = 'https://assets.datacamp.com/production/repositories/464/datasets/2175fef4b3691db03449bbc7ddffb740319c1131/world_ind_pop_data.csv'
df = pd.read_csv(link)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CountryName                    13374 non-null  object
 1   CountryCode                    13374 non-null  object
 2   Year                           13374 non-null  int64
 3   Total Population               13374 non-null  float64
 4   Urban population (% of total)  13374 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

In [76]:
df.shape

(13374, 5)

In [80]:
avengers = ['hawkeye','iron man', 'thor','quiksilver']
names = ['barton', 'stark','odinson','maximoff']
z = zip(avengers, names)
print(z)

<zip object at 0x7fc9e7d44880>

In [78]:
print(next(z))

('hawkeye', 'barton')

In [81]:
print(list(z))

[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quiksilver', 'maximoff')]

In [82]:
def raise_both(v1, v2):
    new_value1 = v1 ** v2
    new_value2 = v2 ** v1
    new_tuple = (new_value1, new_value2)
    return new_tuple

In [83]:
raise_both(3,4)

(81, 64)

In [84]:
df.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [91]:
len(df['CountryCode'].unique())

245

In [101]:
feature_names = list(df.columns)
row_vals = list(df.iloc[0,:].values)

In [102]:
row_vals

['Arab World', 'ARB', 1960, 92495902.0, 31.2853842116054]

In [103]:
feature_names

['CountryName',
 'CountryCode',
 'Year',
 'Total Population',
 'Urban population (% of total)']

In [105]:
zipped_lists = zip(feature_names, row_vals)
rs_dict = dict(zipped_lists)
print(rs_dict)

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'Year': 1960, 'Total Population': 92495902.0, 'Urban population (% of total)': 31.2853842116054}

In [106]:
# Define lists2dict()
def lists2dict(list1,list2):
    """Return a dictionary where list1 provides
    the keys and list2 provides the values."""

    # Zip lists: zipped_lists
    zipped_lists = zip(list1, list2)

    # Create a dictionary: rs_dict
    rs_dict = dict(zipped_lists)

    # Return the dictionary
    return rs_dict

# Call lists2dict: rs_fxn
rs_fxn =  lists2dict(feature_names, row_vals)

# Print rs_fxn
print(rs_fxn)

{'CountryName': 'Arab World', 'CountryCode': 'ARB', 'Year': 1960, 'Total Population': 92495902.0, 'Urban population (% of total)': 31.2853842116054}

In [ ]:
# Print the first two lists in row_lists
print(row_lists[0])
print(row_lists[1])

# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names, sublist) for sublist in row_lists]

# Print the first two dictionaries in list_of_dicts
print(list_of_dicts[0])
print(list_of_dicts[1])