In [ ]:
# Modify the DataFrame to keep only height and weight columns
fifa_transpose = fifa_players.set_index('name')[['height','weight']]

In [ ]:
#using pivot
df.pivot(index='Year',columns='Name',values='Weight')

In [ ]:
# Discard the fifth row to delete all repeated rows
fifa_drop = fifa_players.drop(4, axis=0)

# Use pivot method to get all scores by name and movement
fifa_pivot = fifa_drop.pivot(index='name', columns='movement') 

# Print fifa_pivot
print(fifa_pivot)  

# Use pivot table to get all scores by name and movement
fifa_pivot_table = fifa_players.pivot_table(index='name', 
                                     columns='movement', 
                                     aggfunc='mean')
# Print fifa_pivot_table
print(fifa_pivot_table)

In [ ]:
# Use pivot table to show the count of players by club and nationality and the total count
players_country = fifa_players.pivot_table(index='nationality', 
                                    columns='club', 
                                    values='name', 
                                    aggfunc='count', 
                                    margins=True)

In [ ]:
# Set the argument to get the maximum for each row and column
fifa_mean = fifa_players.pivot_table(index=['nationality', 'club'], 
                                     columns='year', 
                                     aggfunc='max', 
                                     margins=True)

In [ ]:
# Melt rating and rating_count columns using title and authors as identifier
books_melted = books_gothic.melt(id_vars=['title','authors'], 
                                 value_vars=['rating', 'rating_count'])

In [ ]:
# Assign the name number to the new column containing the values
books_ratings = books_gothic.melt(id_vars=['title', 'authors', 'publisher'], 
                                  value_vars=['rating', 'rating_count'], 
                                  var_name='feature', 
                                  value_name='number')

In [ ]:
# Reshape wide to long using title as index and version as new name, and extracting isbn prefix 
isbn_long = pd.wide_to_long(golden_age, 
                    stubnames=['isbn'], 
                    i='title', 
                    j='version')

In [ ]:
# Specify that wide columns have a suffix containing words
the_code_long = pd.wide_to_long(books_brown, 
                                stubnames=['language', 'publisher'], 
                                i=['author', 'title'], 
                                j='code', 
                                sep='_', 
                                suffix='\w+')

In [ ]:
# Modify books_hunger by resetting the index without dropping it
books_hunger.reset_index(drop=False, inplace=True)

# Reshape using title and language as index, feature as new name, publication and page as prefix separated by space and ending in a word
publication_features = pd.wide_to_long(books_hunger, 
                                       stubnames=['publication','page'], 
                                       i=['title','language'], 
                                       j='feature', 
                                       sep=' ', 
                                       suffix='\w+')

In [ ]:
#splitting into two columns
#working with strings
books[['main_title','subtitle']] =books['title'].str.split(":", expand=True)
books.drop('title', axis=1, inplace=True)
pd.wide_to_long(books, stubnames=['ratings','sold'],
               i=['main_title','subtitle'],
               j='year')

In [ ]:
#concatenate two columns
books_new['name_author'].str.cat(books_new['lastname_author'], sep=" ")

In [ ]:
# Split by the hyphen the index of books_dys
books_dys.index = books_dys.index.str.split('-').str.get(0)

# Concatenate the index with the list author_list separated by a hyphen
books_dys.index = books_dys.index.str.cat(author_list, sep="-")

In [ ]:
# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =" and ") 

# Split the authors into writer and illustrator columns
hp_books[['writer', 'illustrator']] = hp_books['authors'].str.split('/', expand=True)

# Melt goodreads and amazon columns into a single column
hp_melt = hp_books.melt(id_vars=['full_title','writer'], 
                        var_name='source', 
                        value_vars=['goodreads',"amazon"], 
                        value_name='rating')