In [4]:
import pandas as pd
coffee = pd.read_feather('https://assets.datacamp.com/production/repositories/5975/datasets/17ec88d6bf920ba7f159298d6acba118a907dacf/coffee_ratings_full.feather')
spotify = pd.read_feather('https://assets.datacamp.com/production/repositories/5975/datasets/18d07c39535b900b64dc145985d9e8dfbf2ca498/spotify_2000_2020.feather')
attrition = pd.read_feather('https://assets.datacamp.com/production/repositories/5975/datasets/3ca1b1a6e25d960f872dcee7cde666d57680bae0/attrition.feather')

In [7]:
cup = coffee[['total_cup_points','flavor']]

In [8]:
cup_samp =cup.sample(n=10)

In [10]:
cup_samp.sample(n=5)

      total_cup_points  flavor
562              82.83    7.67
1074             80.50    7.17
228              84.17    7.75
815              81.92    7.50
965              81.25    7.17

In [15]:
coffee.to_csv('/Users/ecuerbo/python/pyprac/data/coffee.csv')
spotify.to_csv('/Users/ecuerbo/python/pyprac/data/spotify.csv')
attrition.to_csv('/Users/ecuerbo/python/pyprac/data/attrition.csv')