In [23]:
import os
import pandas as pd
os.getcwd()

'/Users/ecuerbo/python/pyprac/datacamp'

In [24]:
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [25]:
#explore marital status
adult["marital.status"].describe()

count                  32561
unique                     7
top       Married-civ-spouse
freq                   14976
Name: marital.status, dtype: object

In [26]:
adult["marital.status"].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital.status, dtype: int64

In [27]:
adult["marital.status"].value_counts(normalize=True)

Married-civ-spouse       0.459937
Never-married            0.328092
Divorced                 0.136452
Separated                0.031479
Widowed                  0.030497
Married-spouse-absent    0.012837
Married-AF-spouse        0.000706
Name: marital.status, dtype: float64

In [6]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [7]:
adult["marital.status"].dtype

dtype('O')

In [8]:
adult["marital.status"] = adult["marital.status"].astype("category")
adult["marital.status"].dtype

CategoricalDtype(categories=['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
                  'Married-spouse-absent', 'Never-married', 'Separated',
                  'Widowed'],
, ordered=False)

In [31]:
adult['native.country'].dtype

dtype('O')

In [32]:
adult['native.country'] = adult['native.country'].astype("category")
adult['native.country'].dtype

CategoricalDtype(categories=['?', 'Cambodia', 'Canada', 'China', 'Columbia', 'Cuba',
                  'Dominican-Republic', 'Ecuador', 'El-Salvador', 'England',
                  'France', 'Germany', 'Greece', 'Guatemala', 'Haiti',
                  'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India',
                  'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos',
                  'Mexico', 'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru',
                  'Philippines', 'Poland', 'Portugal', 'Puerto-Rico',
                  'Scotland', 'South', 'Taiwan', 'Thailand', 'Trinadad&Tobago',
                  'United-States', 'Vietnam', 'Yugoslavia'],
, ordered=False)

In [9]:
#creating a categorical series
my_data = ["A","A","C","B","C",'A']
my_series1 = pd.Series(my_data, dtype="category")
print(my_series1)

0    A
1    A
2    C
3    B
4    C
5    A
dtype: category
Categories (3, object): ['A', 'B', 'C']

In [10]:
my_series1.dtype

CategoricalDtype(categories=['A', 'B', 'C'], ordered=False)

In [11]:
#making ordered data
my_series2 = pd.Categorical(my_data, categories=["C","B","A"], ordered = True)
my_series2

['A', 'A', 'C', 'B', 'C', 'A']
Categories (3, object): ['C' < 'B' < 'A']

In [33]:
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')
adult["marital.status"].nbytes

260488

In [36]:
#when saved as a categorical column
adult["marital.status"] = adult["marital.status"].astype("category")
adult["marital.status"].nbytes

32617

In [35]:
#specify dtypes when reading data
#create a dictionary
adult_dtypes = {"marital.status": "category"}
#set the dtype parameter:
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv', dtype=adult_dtypes)
#check dtype
adult["marital.status"].dtype

CategoricalDtype(categories=['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
                  'Married-spouse-absent', 'Never-married', 'Separated',
                  'Widowed'],
, ordered=False)

In [15]:
adult.dtypes

age                  int64
workclass           object
fnlwgt               int64
education           object
education.num        int64
marital.status    category
occupation          object
relationship        object
race                object
sex                 object
capital.gain         int64
capital.loss         int64
hours.per.week       int64
native.country      object
income              object
dtype: object

In [16]:
adult["education"] = adult["education"].astype('category')
adult["education"].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [17]:
adult["race"] = adult["race"].astype('category')
adult["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [18]:
#setting category series
adult['race'] = adult['race'].cat.set_categories(
    new_categories=["White","Black","Asian-Pac-Islander",'Amer-Indian-Eskimo'],
    ordered=True)
adult['race'].value_counts(dropna=False)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
NaN                     271
Name: race, dtype: int64

In [19]:
adult['race'].head()

0    White
1    White
2    Black
3    White
4    White
Name: race, dtype: category
Categories (4, object): ['White' < 'Black' < 'Asian-Pac-Islander' < 'Amer-Indian-Eskimo']

In [20]:
adult['relationship'].value_counts()

Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

In [21]:
adult['relationship'] = adult['relationship'].astype("category")
adult['relationship'] = adult['relationship'].cat.add_categories(
    new_categories=["lover", "friend"])
adult["relationship"].cat.categories

Index(['Husband', 'Not-in-family', 'Other-relative', 'Own-child', 'Unmarried',
       'Wife', 'lover', 'friend'],
      dtype='object')

In [22]:
adult['relationship'] = adult['relationship'].astype("category")
adult['relationship'] = adult['relationship'].cat.remove_categories(removals=["Unmarried"])
adult['relationship'].value_counts(dropna=False)

Husband           13193
Not-in-family      8305
Own-child          5068
NaN                3446
Wife               1568
Other-relative      981
lover                 0
friend                0
Name: relationship, dtype: int64

In [37]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  category
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: category(1), int64(6), object(8)
memory usage: 3.5+ MB