In [3]:
import os
import pandas as pd
os.getcwd()

'/Users/ecuerbo/python/pyprac/datacamp'

In [4]:
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
#explore marital status
adult["marital.status"].describe()

count                  32561
unique                     7
top       Married-civ-spouse
freq                   14976
Name: marital.status, dtype: object

In [7]:
adult["marital.status"].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital.status, dtype: int64

In [8]:
adult["marital.status"].value_counts(normalize=True)

Married-civ-spouse       0.459937
Never-married            0.328092
Divorced                 0.136452
Separated                0.031479
Widowed                  0.030497
Married-spouse-absent    0.012837
Married-AF-spouse        0.000706
Name: marital.status, dtype: float64

In [9]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [11]:
adult["marital.status"].dtype

dtype('O')

In [12]:
adult["marital.status"] = adult["marital.status"].astype("category")
adult["marital.status"].dtype

CategoricalDtype(categories=['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
                  'Married-spouse-absent', 'Never-married', 'Separated',
                  'Widowed'],
, ordered=False)

In [13]:
#creating a categorical series
my_data = ["A","A","C","B","C",'A']
my_series1 = pd.Series(my_data, dtype="category")
print(my_series1)

0    A
1    A
2    C
3    B
4    C
5    A
dtype: category
Categories (3, object): ['A', 'B', 'C']

In [15]:
my_series1.dtype

CategoricalDtype(categories=['A', 'B', 'C'], ordered=False)

In [16]:
#making ordered data
my_series2 = pd.Categorical(my_data, categories=["C","B","A"], ordered = True)
my_series2

['A', 'A', 'C', 'B', 'C', 'A']
Categories (3, object): ['C' < 'B' < 'A']

In [17]:
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')
adult["marital.status"].nbytes

260488

In [18]:
#when saved as a categorical column
adult["marital.status"] = adult["marital.status"].astype("category")
adult["marital.status"].nbytes

32617

In [20]:
#specify dtypes when reading data
#create a dictionary
adult_dtypes = {"marital.status": "category"}
#set the dtype parameter:
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv', dtype=adult_dtypes)
#check dtype
adult["marital.status"].dtype

CategoricalDtype(categories=['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
                  'Married-spouse-absent', 'Never-married', 'Separated',
                  'Widowed'],
, ordered=False)