In [3]:
def square():
    new_value = 4 ** 2
    print(new_value)

square()

16

In [5]:
def square(value):
    new_value = value ** 2
    print(new_value)
    
square(100)

10000

In [13]:
def square(value, power):
    new_value = value ** power
    print(new_value)
    
square(4,100)

1606938044258990275541962092341162602522202993782792835301376

In [16]:
def raise_to_power(v1, v2):
    new_value = v1 ** v2
    return new_value

result = raise_to_power(2,0)
print(result)

1

In [18]:
even_nums = (2, 4,6)
a, b, c = even_nums
print(c)

6

In [19]:
print(even_nums[1])

4

In [20]:
second_num = even_nums[1]
print(second_num)

4

In [27]:
elements = ("Ni", 'Fe', 'Al')
n, f, a = elements
print(a)

Al

In [28]:
third = elements[2]
print(third)

Al

In [23]:
def raise_both(v1, v2):
    new_value1 = v1 ** v2
    new_value2 = v2 ** v1
    
    new_tuple = (new_value1, new_value2)
    
    return new_tuple

In [25]:
result = raise_both(2,8)
print(result)

(256, 64)

In [32]:
nums = (3,4,6)
num1, num2, num3 = nums
even_nums = (2, num2, num3)
even_nums

(2, 4, 6)

In [33]:
def shout_all(w1, w2):
    s1 = w1 + '!!!'
    s2 = w2 + '!!!'
    shout_words = (s1, s2)
    return shout_words

#Pass "congratulations" and "you" to shout_all
y1, y2 = shout_all("congratulations", "you")

print(y1)
print(y2)

congratulations!!!
you!!!

In [37]:
def twins(t1, t2):
    s1 = t1 + ", go home!!!"
    s2 = t2 + ", go home!!!"
    shout_words = (s1, s2)
    return shout_words

y1, y2 = twins("Castor", "Pollux")

print(y1)
print(y2)

Castor, go home!!!
Pollux, go home!!!

In [38]:
import pandas as pd

df = pd.read_csv("tweets.csv")

langs_count = {}

#Extract column from DataFrame:
col = df['lang']

#Iterate over lang column in data frame

for entry in col:
    if entry in langs_count.keys():
        langs_count[entry] += 1
    else:
        langs_count[entry] = 1
        
print(langs_count)

SyntaxError: invalid syntax (117314063.py, line 8)